html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6 {
    margin: 0;
    padding: 0;
}
ol, ul, li {
    margin: 0;
    padding: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@160..700&display=swap');

.container {
    width: 320px;
    margin: 0 auto;
}
@import '../blocks/path'