.path {
    max-width: 320px;
    min-height: 580px;
    background-color: #fff;
    padding: 87px 10px 105px 10px;
    margin: 0 auto;
    &__number {
        font-family: Raleway;
        font-size: 20px;
        font-weight: 700;
        line-height: 28.18px;
        text-align: center;
        width: 240px;
        margin: 0 auto;
    }
    &__status {
        margin: 18px auto 0 auto;
        width: 270px;
        min-height: 46px;
        display: flex;
        justify-content: space-between;
    }
    &__item {
        &-img {
            display: block;
            width: 16px;
            height: 16px;
            margin: 0 auto;
            img {
                display: block;
                width: 100%;
                height: 100%;
            }
        }
        &-scale {
            width: 47px;
            height: 4px;
            border-radius: 20px;
            background: linear-gradient(257.71deg, #FF3932 0%, #B90902 100%);
            margin: 6px 0 4px 0;
          
        }
        &-info {
            font-family: Raleway;
            font-size: 8px;
            font-weight: 600;
            line-height: 8px;
            text-align: left;
            color: #FF3932;
         
        }
    }
    .grey__scale {
        background: #F1F1F1;
        box-shadow: 5px 5px 10px -5px #0000001A inset;
    }
    .grey__text {
        font-family: Raleway;
        font-size: 8px;
        font-weight: 600;
        line-height: 8px;
        text-align: left;
        color: #ADADAD;
    }
}
